<div class="left_info">
    <div class="info_card">
        <h3>What is Sierra?</h3>
        <p>Sierra is a Firefox browser extension. It's a plugin that allows you to take control of your own data by selling it.</p>
    </div>
    <div class="info_card">
        <h3>What is it's purpose?</h3>
        <p>When you use browse, you are automatically creating valuable data. It can even reflect what your product and routine preferences are! Companies like Google take this data and use it to help improve their products and provide customers like you with what you need most.</p>
    </div>
    <div class="info_card">
        <h3>What about my privacy?</h3>
        <p>As we do not gather any personal information, companies will never be able to find you among all the bundles user data. Plus everything we gather is anonymized.</p>

        <p>So don’t worry, companies will never receive your email, phone number, personal details, and can never contact you. You will never be spammed because of your use of Sierra</p>
    </div>
</div>
<div class="right_info">
    <div class="info_card">
        <h3>How do we make money?</h3>
        <p>Big companies are very interested in consumer data because they need information to build product that are adapted to their users. If they know how users behave generally, they will make a product that will sell better. They are ready to pay for this data.</p>

        <p>So we group users data and sell it to those companies.</p>
    </div>
    <div class="info_card">
        <h3>How do I make money?</h3>
        <p>Companies pay us, we pay you.</p>
    </div>
</div>