<div id="large_container">
    <div id="container">
        <div id="a">
            <h3>Precision</h3>
            <p class="subtext">How much data do you want to sell?</p>

            <div 
                *ngFor="let level of levels" 
                [ngStyle]="{'border-right': level.index == 2 ? none : '1px solid gray' }"
                class="pr"
                >
                <label><strong>{{level.title}}</strong></label>
                <div
                    *ngFor="let content of level.content" 
                    class="pr_deets"
                    >
                    <p>{{content}}</p>
                </div>
                <div class="btn_container">
                    <button 
                            #selectbtn
                            class='btn btn-sm {{btnClass[level.index]}}'
                            (click)="select(level)"
                            >{{ text[level.index] }}
                    </button>
                </div>
            </div>
        </div>

        <div id="b">
            <h3>Clock</h3>

            <div class="clock_group form-group">
                <select name="" id="" class="clock clock_from form-control" formControlName="time">
                    <option class="form-control">1</option>
                </select>
                <p>to</p>
                <select name="" id="" class="clock clock_to form-control" formControlName="time">
                    <option class="form-control">1</option>
                </select>
            </div>

            <div class="rule">
              <label><strong>Rule 1:</strong></label>
              <p>Switch Sierra Off from 9am to 11am</p>
            </div>
            <button class="clock_btn btn btn-primary btn-sm">Add</button>
        </div>
        <div id="c">
            <h3>Whitelist</h3>
            <p class="subtext">On these websites, we will never read your data</p>

        </div>

        <div id="d">
            <h3>Revenue Estimates</h3>
        </div>
    </div>
</div>