<div id="large_container">
    <div id="container">
        <div id="a">
            <h3>Precision</h3>
            <p class="subtext">How much data do you want to sell?</p>

            <div 
                *ngFor="let level of levels" 
                [ngStyle]="{'border-right': level.index == 2 ? none : '1px solid gray' }"
                class="pr"
                >
                <label><strong>{{level.title}}</strong></label>
                <div
                    *ngFor="let content of level.content" 
                    class="pr_deets"
                    >
                    <p>{{content}}</p>
                </div>
                <div class="btn_container">
                    <button 
                            #selectbtn
                            class='btn btn-sm {{btnClass[level.index]}}'
                            (click)="select(level)"
                            >{{ text[level.index] }}
                    </button>
                </div>
            </div>
        </div>

        <div id="b">
            <h3>Clock</h3>

            <div class="clock_group form-group">
                <select name="" id="" #amTime class="clock clock_from form-control" formControlName="time">
                    <option class="form-control" *ngFor="let time of times">{{time}}</option>
                </select><label for="">AM</label>
                <p>to</p>
                <select name="" id="" #pmTime class="clock clock_to form-control" formControlName="time">
                    <option class="form-control" *ngFor="let time of times">{{time}}</option>
                </select><label>PM</label>
            </div>

            <div class="rule" *ngFor="let timeRule of timeRules; let i = index">
              <label><strong>Rule {{i+1}}:</strong></label>
              <label class="rule_content">Switch Sierra Off from {{timeRule[0]}}am to {{timeRule[1]}}am</label>
              <img src="assets/cancel.png" (click)="popTimeRule(index)">
            </div>
            <button class="clock_btn btn btn-primary btn-sm" (click)="addRule(amTime.value, pmTime.value)">Add</button>
        </div>
        <div id="c">
            <h3>Whitelist</h3>
            <p class="subtext">On these websites, we will never read your data</p>

            <div class="url" *ngFor="let wlUrl of wlUrls">
                <label>{{wlUrl}}</label>
                <img src="assets/cancel.png" (click)="popWLUrl(wlUrl)" alt="">
                <hr>
            </div>
            <div class="wlist_btn_container">
                <button class="whitelist_btn btn btn-primary btn-sm" (click)="openWLDialog()">Add</button>
            </div>
        </div>

        <div id="d">
            <h3>Revenue Estimates</h3>

            <h1>${{revenue}}/month</h1>
        </div>
    </div>
</div>