#a, #b, #c, #d {
    float: left;
    /*display: inline-block;*/
    width: 45%;
    height: 45%;
    margin: 0;
}

#large_container {
    height: 100%;
    width: 100%;
    /*text-align: justify;*/
}

#container {
    /*text-align: justify;*/
    height: 100%;
    width: 100%;
    margin: 2% 0 0 5%;
}

#container::after {
    /*content: '';*/
    /*width: 100%;*/  /*Ensures there are at least 2 lines of text, so justification works */
    /*display: inline-block;*/
}

#large_container::after {
/*    content: '';
    width: 100%;  Ensures there are at least 2 lines of text, so justification works 
    display: inline-block;*/
}

#a {
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

#b {
    border-bottom: 2px solid gray;
}

#c {
    border-right: 2px solid gray;
}

h3 {
    text-align: center;
}

#c h3, #d h3 {
    margin-top: 20px;
}

/*--Precision---*/

#a {
    position: relative;
}
.subtext {
    text-align: center;
    margin-top: 16px;
}
.pr {
    float: left;
    width: 30%;
    height: 65%;
    padding-right: 10px;
    margin-left: 3%;
    margin-top: 10px;
    text-align: center;
}
.pr label {

}
.pr_deets p {
    text-align: left;
    margin-left: 13px;
    font-size: 12px;
}

.btn_container {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 25%;
}
.btn_container button {
    display: inline-block;
}

/*---Clock---*/
.clock_group {
    width: 60%;
    height: 40px;
    margin: 40px auto;
    text-align: justify;
}
.clock {
    width: 30%;
/*    float: left;*/
    display: inline-block;
}
.clock_group:after {
    content: '';
    width: 100%;  
    display: inline-block;
}
.clock_group p {
    display: inline-block;
    margin: 5px auto;
}
.rule {
    display: block;
    width: 100%;
    float: left;
    margin-left: 10%;
}
.clock_btn {
    float: left;
    margin-left: 10%;
}
