<div id="large_container">
    <div id="container">

        <div id="a">
            <h3>Monthly Revenue Stream</h3>
        </div>

        <div id="b">
            <h3>Balance</h3>
            
            <div class="money_earned">
                <p><strong>Money Earned to Date:</strong></p>
                <p id="money"><strong>$203.5</strong></p>
            </div>
            <div class="money_earned">
                <p><strong>Current Balance</strong></p>
                <p id="money"><strong>$17.40</strong></p>
            </div>

            <button class="btn btn-primary ">Send to Bank</button>
        </div>

        <div id="c">
            <h3>My Accounts</h3>

            <div *ngFor="let account of accounts;" class="bank">
                <img src="assets/{{account.bank}}.png" alt="">
                <label>{{account.number}}</label>
                <button class="btn btn-primary">Manage</button>
            </div>
            <button class="btn btn-primary">+ Add</button>
        </div>

        <div id="d">
            <h3>Tips</h3>

            <div *ngFor="let tip of tips" class="tips">
                <label><strong>{{tip.title}}</strong></label>
                <img src="assets/cancel.png" alt="">
                <p>{{tip.content}}</p>
            </div>
        </div>

    </div>
</div>